# update the cache of the LRS (for displaying in the dashboard)
*/10    * * * * wget -nv --spider localhost/cache
# Generate recommendations from the activities.
0       * * * * wget -nv --spider localhost/recommendations?minsup=1&minconf=0
