{% load staticfiles %}
{% block content %}
<div id="coach" >

  <div class="container" style="width: 250px;">
		<div class="navbar">
			<div class="container">
				<a class="navbar-brand" href="#">Coach</a>
				<div class="nav-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Assessment</a></li>
						<li><a href="#exercises">Exercises</a></li>
						<li><a href="#video">Video</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</div>

		<link href="{% static 'dashboard/bootstrap.min.css' %}" rel="stylesheet" media="screen">
		<link href="{% static 'dashboard/navbar.css' %}" rel="stylesheet" media="screen">
		<script src="{% static 'dashboard/bootstrap.min.js' %}"></script>
		<div>
			<table class="table table-condensed table-hover">
			{% for s in statements %}
				{% if s.verb == "progressed" %}
				<tr class="success">
				{% elif s.verb == "completed" %}
				<tr class="">
				{% elif s.verb == "suspended" %}
				<tr class="warning">
				{% else %}
				<tr class="">
				{% endif %}
					<td>
						<a data-toggle="tooltip" data-animation="false" data-original-title="{{ s.desc }}"
							id="{{ s.id }}" href="{{ s.url }}" >{{ s.name }}</a><br />
						<script type="text/javascript">
							$('#{{ s.id }}').tooltip();
						</script>
						<small class="text-left text-muted">{{ s.verb }}</small>
						<small class="pull-right text-muted">{{ s.time }}</small>
					</td>
				<tr>
			{% endfor %}
			</table>
		</div>
  </div>
</div>
{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
