{% load staticfiles %}
{% block content %}
<div id="coach" >
	<link href="http://{{ host }}{% static 'dashboard/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="http://{{ host }}{% static 'dashboard/navbar.css' %}" rel="stylesheet" media="screen">
	<script src="http://{{ host }}{% static 'dashboard/jquery-2.0.3.min.js' %}"></script>
	<script src="http://{{ host }}{% static 'dashboard/bootstrap.min.js' %}"></script>

  <div class="container" style="width: 300px; -webkit-box-shadow: -1px 2px 8px
		#BBB; -moz-box-shadow: -1px 2px 8px #BBB; box-shadow: -1px 2px 8px #BBB;
		border-top-left-radius: 4px; border-top-right-radius: 4px;">
		<ul id="main-nav" class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#assessments">Toetsen</a>
			</li>
			<li>
				<a data-toggle="tab" href="#exercises">Oefeningen</a>
			</li>
			<li>
				<a data-toggle="tab" href="#videos">Videos</a>
			</li>
			<li>
				<a data-toggle="tab" href="#help">[Uitleg]</a>
			</li>
		</ul>
		<div style="padding: 0; margin: 5px; border-color: #EEEEEE; border-style:
			solid; border-width: 1px;">
			<object data="http://{{ host}}/barcode?email={{email}}&width=278" type="image/svg+xml" 
				style="width: 100%; height: {{barcode_height}}px;"></object>
		</div>

		<div id="main-tab" class="tab-content">
			<div class="tab-pane active" id="assessments">
				<script type="text/javascript">
					$('a[href="assessments"]').click(function (e) {
							e.preventDefault();
							$(this).tab('show');
					})
				</script>
				<table class="table table-condensed table-hover">
				{% for s in assignments %}
					{% if s.value >= 80 %}
					<tr class="success">
					{% else %}
					<tr class="">
					{% endif %}
						<td>
							<a data-toggle="tooltip"
								 data-animation="false"
								 data-original-title="{{ s.desc }}"
								 id="{{ s.id }}"
								 href="{{ s.url }}"
								 style="width:250px; display:block; float:left;"
								 target="_blank" >{{ s.name }}</a>
							{% if not s.value == None %}
							<small class="pull-right text-muted">{{ s.value|floatformat }}%</small>
							{% endif %}
							<script type="text/javascript">
								$('#{{ s.id }}').tooltip();
							</script>
						</td>
					<tr>
				{% endfor %}
				</table>
			</div>
			<div class="tab-pane" id="exercises">
				<script type="text/javascript">
					$('a[href="exercises"]').click(function (e) {
							e.preventDefault();
							$(this).tab('show');
					})
				</script>
				<table class="table table-condensed table-hover">
				{% for s in exercises %}
					{% if s.verb == "http://adlnet.gov/expapi/verbs/suspended" %}
					<tr class="warning">
					{% else %}
					<tr class="">
					{% endif %}
						<td>
							<a data-toggle="tooltip" data-animation="false" data-original-title="{{ s.desc }}"
								id="{{ s.id }}" href="{{ s.url }}" target="_blank" >{{ s.name }}</a><br />
							<script type="text/javascript">
								$('#{{ s.id }}').tooltip();
							</script>
							{% if s.value %}
							<div style="height: 3px; background-color: 22BB55; width: {{ s.value }}%;" />
							{% elif s.verb == "http://adlnet.gov/expapi/verbs/completed" %}
							<div style="height: 3px; background-color: 22BB55; width: 100%;" />
							{% endif %}
						</td>
					<tr>
				{% endfor %}
				</table>
			</div>
			<div class="tab-pane" id="videos">
				<script type="text/javascript">
					$('a[href="videos"]').click(function (e) {
							e.preventDefault();
							$(this).tab('show');
					})
				</script>
				<table class="table table-condensed table-hover">
				{% for s in video %}
					<tr class="">
						<td>
							<a data-toggle="tooltip" data-animation="false" data-original-title="{{ s.desc }}"
								id="{{ s.id }}" href="{{ s.url }}" target="_blank" >{{ s.name }}</a><br />
							<script type="text/javascript">
								$('#{{ s.id }}').tooltip();
							</script>
						</td>
					<tr>
				{% endfor %}
				</table>
			</div>
			<div class="tab-pane" id="help" style='padding:5px'>
				<h4>Toetsen</h4>
				In de <i>Toetsen</i> tab zie je een overzicht van de toetsen die je
				hebt gedaan in SOWISO. Per gemaakte toets is er een regel te zien. Op elke regel
				staat aan de linkerkant in het blauw de naam van de toets en aan de
				rechterkant in het grijs de score die je hebt behaalt. Je kan ook op de
				naam van de toets klikken om naar de toets te gaan. Als je nog geen
				toetsen hebt gedaan dan is deze tab leeg.
				<h4>Oefeningen</h4>
				In de <i>Oefeningen</i> tab zie je een overzicht van de oefeningen die
				je hebt gedaan in SOWISO en iktel. Per gemaakte oefening is er een
				regel te zien. Op elke regel staat in het blauw de naam van de
				oefening, waar je op kunt klikken om naar de oefening te gaan, en er
				staat mogelijk ook een groene lijn onder de naam van de oefening. Deze
				groene lijn geeft aan hoe ver je bent gekomen in de oefening. De
				oefeningen staan gesorteerd op de datum dat je er voor het laatst iets
				mee hebt gedaan. Als je nog geen oefeningen hebt gemaakt dan is deze
				tab leeg.
				<h4>Videos</h4>
				In de <i>Videos</i> tab zie je een overzicht van de videos die je hebt
				bekeken op iktel. Per gekeken video is er een regel te zien. Op elke
				regel staat in het blauw de naam van de video, waar je ook op kunt
				klikken om naar de video te gaan. Als je nog geen videos hebt bekeken
				dan is deze tab leeg.
				<h4>Barcode</h4>
				Onderaan de vier tabs zie je een rechthoek met verticale strepen, we
				noemen dat de barcode. In de barcode kan je zien hoe jij er voor staat
				ten op zichte van je medestudenten. Elk verticaal streepje staat voor
				een student. Hoe meer een streepje naar rechts staat, hoe verder die
				student is ten op zichte van de rest. Er is ook een grotere en dikkere
				streep met een driehoekje aan weerszijden. Die streep ben jij. Als jouw
				streep helemaal aan de rechterkant staat, dan loop je voor op de rest
				van de groep. Als hij echter meer aan de linkerkant staat dan begin je
				wat achter te lopen. De voortgang is gebaseerd op het totaal aantal
				punten wat je op de toetsen hebt gescoord.
			</div>
		</div>

		<script type="text/javascript">
			$('a[href="exercises"]').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
			})
			$('#main-nav a[href="#assessments"]').tab('show');
		</script>

  </div>
</div>
{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
