{% load staticfiles %}
{% block content %}
<div id="coach" >
	<link href="{% static 'dashboard/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'dashboard/navbar.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'dashboard/jquery-2.0.3.min.js' %}"></script>
	<script src="{% static 'dashboard/bootstrap.min.js' %}"></script>

  <div class="container" style="width: 300px; -webkit-box-shadow: -1px 2px 8px
		#BBB; -moz-box-shadow: -1px 2px 8px #BBB; box-shadow: -1px 2px 8px #BBB;
		border-top-left-radius: 4px; border-top-right-radius: 4px;">
		<ul id="main-nav" class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#assessments">Assessments</a>
			</li>
			<li>
				<a data-toggle="tab" href="#exercises">Exercises</a>
			</li>
			<li>
				<a data-toggle="tab" href="#video">Video</a>
			</li>
			<li>
				<a data-toggle="tab" href="#help">[?]</a>
			</li>
		</ul>
		<div style="padding: 0; margin: 5px; border-color: #EEEEEE; border-style:
			solid; border-width: 1px;">
      <object data="barcode?email={{email}}" type="image/svg+xml" 
				style="width: 100%; height: 13px;"></object>
		</div>

		<div id="main-tab" class="tab-content">
			<div class="tab-pane active" id="assessments">
				<script type="text/javascript">
					$('a[href="assessments"]').click(function (e) {
							e.preventDefault();
							$(this).tab('show');
					})
				</script>
				<table class="table table-condensed table-hover">
				{% for s in assignments %}
					{% if s.value >= 80 %}
					<tr class="success">
					{% else %}
					<tr class="">
					{% endif %}
						<td>
							<a data-toggle="tooltip"
								 data-animation="false"
								 data-original-title="{{ s.desc }}"
								 id="{{ s.id }}"
								 href="{{ s.url }}"
								 target="_blank" >{{ s.name }}</a>
							{% if not s.value == None %}
							<small class="pull-right text-muted">{{ s.value|floatformat }}%</small>
							{% endif %}
							<script type="text/javascript">
								$('#{{ s.id }}').tooltip();
							</script>
						</td>
					<tr>
				{% endfor %}
				</table>
			</div>
			<div class="tab-pane" id="exercises">
				<script type="text/javascript">
					$('a[href="exercises"]').click(function (e) {
							e.preventDefault();
							$(this).tab('show');
					})
				</script>
				<table class="table table-condensed table-hover">
				{% for s in exercises %}
					{% if s.verb == "http://adlnet.gov/expapi/verbs/suspended" %}
					<tr class="warning">
					{% else %}
					<tr class="">
					{% endif %}
						<td>
							<a data-toggle="tooltip" data-animation="false" data-original-title="{{ s.desc }}"
								id="{{ s.id }}" href="{{ s.url }}" target="_blank" >{{ s.name }}</a><br />
							<script type="text/javascript">
								$('#{{ s.id }}').tooltip();
							</script>
							{% if s.value %}
							<div style="height: 3px; background-color: 22BB55; width: {{ s.value }}%;" />
							{% elif s.verb == "http://adlnet.gov/expapi/verbs/completed" %}
							<div style="height: 3px; background-color: 22BB55; width: 100%;" />
							{% endif %}
						</td>
					<tr>
				{% endfor %}
				</table>
			</div>
			<div class="tab-pane" id="video">
				<script type="text/javascript">
					$('a[href="video"]').click(function (e) {
							e.preventDefault();
							$(this).tab('show');
					})
				</script>
				<table class="table table-condensed table-hover">
				{% for s in video %}
					<tr class="">
						<td>
							<a data-toggle="tooltip" data-animation="false" data-original-title="{{ s.desc }}"
								id="{{ s.id }}" href="{{ s.url }}" target="_blank" >{{ s.name }}</a><br />
							<script type="text/javascript">
								$('#{{ s.id }}').tooltip();
							</script>
						</td>
					<tr>
				{% endfor %}
				</table>
			</div>
			<div class="tab-pane" id="help">
				This tab will explain everything.
			</div>
		</div>

		<script type="text/javascript">
			$('a[href="exercises"]').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
			})
			$('#main-nav a[href="#assessments"]').tab('show');
		</script>

  </div>
</div>
{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
