{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
	<title>COACH Dashboard Log</title>
  </head>
  <body>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div id="coach" >
	<link href="http://{{ host }}{% static 'dashboard/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="http://{{ host }}{% static 'dashboard/navbar.css' %}" rel="stylesheet" media="screen">
	<script src="http://{{ host }}{% static 'dashboard/jquery-2.0.3.min.js' %}"></script>
	<script src="http://{{ host }}{% static 'dashboard/bootstrap.min.js' %}"></script>

<div class="container" style="width: 100%; -webkit-box-shadow: -1px 2px 8px
		#BBB; -moz-box-shadow: -1px 2px 8px #BBB; box-shadow: -1px 2px 8px #BBB;
		border-top-left-radius: 4px; border-top-right-radius: 4px;">
	<table class="table table-condensed table-hover">
		<thead>
		<tr>
			<th>Id</th><th>Type</th><th>user</th><th>context</th><th>timestamp</th>
		</tr>
		</thead>
		<tbody>
	{% for l in logs %}
		<tr>
			<td>{{ l.id }}</td>
			<td>{{ l.type }}</td>
			<td>{{ l.user }}</td>
			<td>{{ l.context }}</td>
			<td>{{ l.timestamp }}</td>
		<tr>
		</tbody>
	{% endfor %}
	</table>
	</body>
	</html>
