<html>
<body>
<div id="lightbox" style="position:fixed;top:0;left:0;background-color:rgba(0,0,0,.8);width:100%;height:100%;">
	<div id="login" style="position: relative; padding:30px;margin:0 auto;margin-top:20px;background-color:#FFF; width:80%;">
	<img style="position: absolute; top: 10px; left: 10px; width: 200px;" src="http://www.uva.nl/gfx/logo.png" />
		<h1>Inloggen</h1>Om gebruik te kunnen maken van de functionaliteit op
		deze pagina moet je eerst inloggen. Dat doe je door <b>via</b> de Blackboard
		pagina van deze cursus naar deze website te gaan. Heb je hier vragen
		over? Ga dan langs bij de docent van dit vak.<br /><br />
	</div>
</div>
</body>
</html>
