{% load staticfiles %}
{% block content %}
<div id="coach" >
	<link href="{% static 'dashboard/bootstrap.min.css' %}" rel="stylesheet" media="screen">
	<link href="{% static 'dashboard/navbar.css' %}" rel="stylesheet" media="screen">
	<script src="{% static 'dashboard/jquery-2.0.3.min.js' %}"></script>
	<script src="{% static 'dashboard/bootstrap.min.js' %}"></script>

  <div class="container" style="width: {{ width }}px; -webkit-box-shadow: -1px 2px 8px
		#BBB; -moz-box-shadow: -1px 2px 8px #BBB; box-shadow: -1px 2px 8px #BBB;
		border-top-left-radius: 4px; border-top-right-radius: 4px;">
		<h4 style='margin:5px'>Have you tried...</h4>
		<div class="container">
			<table class="table table-condensed table-hover">
			{% for r in recommendations %}
				<tr>
					<td>
						<a data-toggle="tooltip"
							 data-animation="false"
							 data-original-title="{{ r.desc }}"
							 id="{{ r.id }}"
							 href="http://{{ host }}/track?context={{ context }}&target={{ r.url }}"
							 target="_blank" >{{ r.name }}</a><br />
						<small class="text-muted">Recommended for:
							{{ r.m_name }}</small>
					  <!--
						<small class="pull-right text-muted">c: {{ r.confidence|floatformat }},
							s: {{ r.support|floatformat }} :: {{ r.score|floatformat }}</small>
						-->
						<script type="text/javascript">
							$('#{{ s.id }}').tooltip();
						</script>
					</td>
				<tr>
			{% endfor %}
			</table>
		</div>
  </div>
</div>
{% endblock %}
{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
