<script type="text/javascript">
	$.getJSON( "api/statements", function(data) {
			var items = [];

			$.each(data, function(key, val) {
				name = val.object.id.split('/').pop();
				if (val.verb.id == "http://adlnet.gov/expapi/verbs/completed") {
					tr = '<tr class="success">'
				} else {
					tr = '<tr>'
				}
				items.push(tr + '<td>'+
					val.verb.display['en-US']
					+'</td><td>' +
					'<a href="' + val.object.id + '">' +
					name + '</a>'
					+'</td><td>' +
					val.timestamp.split("\.")[0] + '</td></tr>'); // FIXME use name/description
				});

			$('<table/>', {
				'class': 'table',
				html: items.join('')
				}).appendTo($('#main-contianer'));
		})
</script>

{# vim: set ft=htmldjango ts=2 sw=2 softtabstop=2: #}
